footer {
  background: $color-background;
  backdrop-filter: blur(5px);
  min-height: 640px;
  width: 85%;
  margin: 0 auto 70px;
  display: grid;
  grid-template-columns: 40% 60%;

  @include tablet {
    grid-template-columns: 1fr;
  }

  form {
    display: grid;
    gap: 18px;
    padding: 60px 50px;
    grid-template-rows: 18px 45px 18px 45px 18px 200px 1fr;

    label {
      display: flex;
      align-items: flex-end;
      font-size: $font-size-xs;
      @include title1;
      color: $color-secondary;
    }

    input[type="text"],
    input[type="email"],
    textarea {
      background: none;
      border: 1px solid $grey1;
      border-radius: 4px;
      resize: none;
      transition: border-color 0.3s ease;
      padding: 8px;

      &:focus {
        outline: none;
        border-color: $color-secondary;
        box-shadow: 0 0 0 2px rgba($color-secondary, 0.2);
      }
    }

    .submit-container {
      display: flex;
      align-items: flex-end;

      .btn {
        color: $color-background-dark;
        border: 2px solid $color-secondary;
      }
    }
  }

  .infos-contact {
    border-left: 1px solid $grey1;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    div:nth-child(1) {
      @include tablet {
        border-top: 1px solid $grey1;
      }
    }

    div {
      border-bottom: 1px solid $grey1;
      display: grid;
      grid-template-columns: 30% 70%;
      align-items: center;

      @include tablet {
        grid-template-columns: 45% 55%;
      }

      h3 {
        @include title1;
        font-size: $font-size-xs;
        padding-left: 40px;
        text-align: left;
        align-items: center;
        justify-content: center;
        color: $color-secondary;
      }

      p {
        font-size: $font-size-sm;
        line-height: 26px;
        text-align: left;
        color: $color-secondary;
        margin: 0;
        padding: 1rem 0;

        a {
          &:hover {
            color: $color-text;
          }
        }
      }
    }

    .social {
      ul {
        display: flex;

        li {
          border: 1px solid $grey1;
          border-radius: 150px;
          height: 40px;
          width: 40px;
          font-size: 0.9rem;
          margin-right: 12px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.3s ease;

          &:hover {
            border-color: $color-primary;
            background-color: rgba($color-primary, 0.1);
            transform: translateY(-3px);

            a,
            i {
              color: $color-primary;
            }
          }
        }
      }
    }
  }
}
