@font-face {
  font-family: "raleway";
  src: url(../fonts/Raleway-VariableFont_wght.ttf);
}
@font-face {
  font-family: "exo2";
  src: url(../fonts/Exo2-VariableFont_wght.ttf);
}

$font1: exo2, sans-serif;
$font2: raleway, sans-serif;

$font-size-xs: 0.7rem;
$font-size-sm: 0.8rem;
$font-size-md: 1rem;
$font-size-lg: 1.5rem;
$font-size-xl: 2rem;
$font-size-xxl: 6rem;

$black1: #1a1a1a;
$white1: #f8f8f8d4;
$grey1: #eeeeee;
$grey2: #333333;

$accent: #00a878;
$accent-dark: #007f5f;
$accent-alt: #c39304;

$color-primary: $accent;
$color-secondary: $accent-dark;
$color-tertiary: $accent-alt;
$color-text: $grey2;
$color-text-light: $grey1;
$color-background: $white1;
$color-background-dark: $black1;

@mixin title1 {
  font-family: $font1;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@mixin title2 {
  font-family: $font2;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@mixin mobile {
  @media screen and (max-width: 700px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 900px) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.backdrop-blur {
  backdrop-filter: blur(5px);
}
